# DATABASE
DB_HOST=postgres
DB_PORT=54321
DB_USER=zion
DB_PASS=changeme
DB_NAME=zion_church

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# APPS
API_PORT=3333
WEB_PORT=3000

# NEXTAUTH ou outras configs
NEXT_PUBLIC_API_URL=http://localhost:3333
